
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HomePage</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

		<link rel="stylesheet" href="homepage.component.css">

	</head>


<body>

  <div class="bg">
<img [src]="ImgPath" style="width: 1270px ;height: 500px;">
<p><div class="centered">BUG TRACKING SYSTEM</div>
<p></p><div class='centered2'>@copyrights-EDITH</div>
</div>>
  <p class="py-5 text-center"></p>



</body>
</html>
